.Banner {
  background-image: url("/assets/site version web/studio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 75px;
  display: flex;
  justify-content: center;
}

.Banner_title {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 150px;
  letter-spacing: 1.28px;
}

.Banner span {
  font-size: 64px;
  color: #f6aa06;
}

.layoutProjet {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
  border-bottom: 1px solid #b8b8b8;
  padding: 10px;
}

.img_projet {
  display: block;
  background-size: 350px 450px;
  height: 450px;
  width: 350px;
  border-radius: 30px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.09);
  margin-bottom: 10px;
}

.type_projet {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.4px;
  margin-top: 10px;
}

.titre_projet {
  color: #000;
  font-family: Montserrat;
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
}

.layout_section_projet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  top: -50px;
  margin: auto;
  gap: 20px;
  width: 1200px;
}

.btn_retour {
  border-radius: 15px;
  border: 0px solid #000;
  background: #000;
  box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 15px 25px;
  cursor: pointer;
  z-index: 2;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  display: block;
  margin-bottom: 50px;
}

.btn_retour a,
.btn_section_contact a {
  text-decoration: none;
  color: black;
}

.btn_retour a {
  color: #fff;
}

.layout_contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 100px;
}

.section_titre,
.layout_contact p {
  width: 100%;
  text-align: center;
}

.section_titre {
  color: #000;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.layout_contact p {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn_section_contact {
  padding: 10px 10px;
  border-radius: 35px;
  border: 2px solid #000;
  background: #fff;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 150px;
  margin: auto;
}

@media screen and (max-width: 640px) {
  .Banner {
    margin-top: 75px;
    height: 300px;
    margin-bottom: 50px;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Banner_title {
    margin-top: 0;
    padding-top: 0;
    margin-left: 0;
    font-size: 24px;
    padding-left: 0;
  }

  .Banner span {
    font-size: 24px;
  }

  .layout_section_projet {
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .img_projet {
    background-size: cover;
    width: 100%;
    max-width: 290px;
  }
}
