
.img_actualite {
    padding: 50px;
    color: #FFF;
    font-family: Montserrat;
    font-size: x-large;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
}



.layout_section {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    gap: 30px;
    padding: 60px 30px;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
}

.section_titre {
    color: #000;
    font-family: Montserrat;
    font-size: 40px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    margin-bottom: 30px;
}

.section_titre span {
    color: #000;
}

.section, .section_mobile {
    width: 100%;
    background-color: #F6AA06;
}

.section_mobile {
    display: none;
    padding: 60px 20px;
}

@media screen and (max-width:640px) {
    .section_mobile {
        display: block;
    }

    .section {
        display: none;
    }

    .actualite {
        width: 300px;
        margin: auto;
    
    }
}
