.layout_section {
    background-color: #FCF9F2;
}

.section_titre {
    color: #000;
    font-family: Montserrat;
    font-size: x-large;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    margin-bottom: 30px;
}

.section_titre span {
    color: #F6AA06;
}

.img {
    display: block;
    margin: auto;
    width: 700px;
}

@media screen and (max-width: 1024px) {
    .img {
        width: 620px;
    }
}

@media screen and (max-width: 640px) {
    .img {
        width: 100%;
    }
}
