/* Ajout de la police AsgardTrial-WideBold */
@font-face {
  font-family: 'AsgardTrial';
  src: url('../public/assets/polices/AsgardTrial-WideRegular.ttf') format('truetype');
  font-style: normal;
}
h1 {
  font-family: 'AsgardTrial', sans-serif; /* Utilisation de la police AsgardTrial */
}

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.carousel-item {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 2rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
}
