.layoutBaner {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 0;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.titleBaner {
    width: fit-content;
    padding: 50px 50px;
    background-color: #0D948D;
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    font-family: 'montserrat';
    font-weight: 800;
}

.sectionLayout {
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.blockLayout {
    padding: 100px 120px;
    letter-spacing: 2px;
}

.titleBlock {
    font-family: 'montserrat';
    font-size: 30px;
    font-weight: 900; 
}

.paragraphe {
    font-family: 'montserrat';
    font-size: 16px;
    font-weight: 600;
    
    
}

.layoutIcone {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media screen and (max-width:768px) {
    .blockLayout {
        padding: 10px 12px;
        letter-spacing: 2px;
    }

    .titleBlock {
        font-size: 18px
    }
    
    .layoutBaner {

        height: 210px;

    }
    
}
