.service {
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
}

.layout_offre {
    width: 100%;
    background-color: #F6AA06;
    padding: 50px 60px;
}

.offre {
    display: grid;
    grid-template-columns: 500px 500px;
    gap: 50px;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
}