.layoutPartenaire {
    display: grid;
    grid-template-columns: repeat(6,150px);
    gap: 30px;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.layout_nos_partenaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #F6AA06
}

.nos_partenaire_title {
    color: #000;
    text-align: center;
    font-family: 'Montserrat';
    font-size: x-large;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media screen and (max-width:1024px) {
    .layoutPartenaire {
        grid-template-columns: repeat(5,100px);
        gap: 30px;
    }

    .logo {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width:768px) {
    .layoutPartenaire {
        grid-template-columns: repeat(4,80px);
        gap: 30px;
    }

    .logo {
        width: 80px;
        height: 80px;
    }
}


@media screen and (max-width:640px) {
    .layoutPartenaire {
        grid-template-columns: repeat(2,125px);
        gap: 30px;
    }

    .logo {
        width: 125px;
        height: 125px;
    }
}