.layoutPartenaire {
    display: grid;
    grid-template-columns: repeat(6,90px);
    gap: 15px;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.layout_nos_partenaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #F6AA06
}

.nos_partenaire_title {
    color: #000;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    line-height: normal;
}

@media screen and (max-width:1024px) {
    .layoutPartenaire {
        grid-template-columns: repeat(5,90px);
        gap: 30px;
    }

    .logo {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width:768px) {
    .layoutPartenaire {
        grid-template-columns: repeat(4,90px);
        gap: 30px;
    }

    .logo {
        width: 90px;
        height: 90px;
    }
}


@media screen and (max-width:640px) {
    .layoutPartenaire {
        grid-template-columns: repeat(3,90px);
        gap: 12px;
    }

    .logo {
        width: 90px;
        height: 90px;
    }
}