.service {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: black;
    margin: auto;
    position: relative;
    height: 400px;
}

.div_img {
    width: 100%;
    padding: 20px;
}

.img_service {
    display: block;
    margin: auto;
}

.titre_service {
    margin: 8px 0;
    text-align: center;
    font-family: Montserrat;
    font-size: large;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: white;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.description_service {

    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: smaller;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}


.barre {
    width: 200px;
    margin: auto;
    height: 3px;
    background-color:#E69F06;
    position: absolute;
    bottom: 10px;
    left: 55px;
}

.layout_services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    background-color: black;
    padding: 50px 10px;
}

@media screen and (max-width: 1024px) {
    .layout_services {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .div_img {
        width: 100%;
    }
    .service {
        margin: auto;
    }
}


@media screen and (max-width: 640px) {
    .layout_services {
        display: grid;
        grid-template-columns: 1fr;
    }

    .service {
        margin: auto;
    }
}